.docket-day {
    stroke: transparent;
    stroke-width: 1px;
    transition: 50ms linear all;
}

.docket-month {
    stroke: lightskyblue;
    stroke-width: 1px;
    fill: transparent;
}

text {
    font-size: 6px;
}